# SQL Data Cleaning Lab
# Section 1
SELECT 
	Accel, TRIM(Accel, ' sec') AS Accel_In_Seconds	
FROM evCars

# Section 1.4
UPDATE evCars
SET Accel = TRIM(Accel, ' sec')

# Section 1.5
SELECT Accel
FROM evCars

# Section 1.6
ALTER TABLE evCars
RENAME Accel TO AccelSec

# Section 2.1
SELECT 
	TopSpeed
FROM evCars

# Section 2.2
SELECT 
	TopSpeed, TRIM(TopSpeed, ' km/h') AS TopSpeed_km/h
FROM evCar

# Section 2.4
UPDATE evCars
SET TopSpeed = TRIM(TopSpeed, ' km/h')

# Section 2.6
SELECT	
	TopSpeed, 
	ROUND(TopSpeed * 0.621371, 2) AS TopSpeedMPH
FROM evCars

# Section 2.6.1
UPDATE evCars
SET TopSpeed = ROUND(TopSpeed * 0.621371, 2)

# Section 2.7
ALTER TABLE evCars
RENAME TopSpeed to topSpeedMPH

# Section 2.8
Select *
FROM evCars

# Section 3.1
SELECT evRange
FROM evCars

# Section 3.2
SELECT 
	TRIM(evRange, ' km')
FROM evCars

# Section 3.3
SELECT 
	evRange,
	TRIM(evRange, ' km')
FROM evCars

# Section 3.4
UPDATE evCars
SET evRange = TRIM(evRange, ' km')

# Section 3.5
Select *
FROM evCars

# Section 3.6
Select 
evRange, 
ROUND(evRange * 0.621371, 2) AS RangeMiles
FROM evCars

# Section 3.6.1
UPDATE evCars
SET evRange = ROUND(evRange / 0.621371, 2)

# Section 3.7
ALTER TABLE evCars
RENAME evRange to rangeMiles

# Section 3.8
Select *
FROM evCars

# Section 4.1
SELECT Efficiency, FastCharge
FROM evCars

# Section 4.3
SELECT 
	TRIM(Efficiency, 'Wh/km'), 
	TRIM(FastCharge, ' km/h')
FROM evCars

# Section 4.4
UPDATE evCars
SET Efficiency = TRIM(Efficiency, 'Wh/km'), 
	FastCharge = TRIM(FastCharge, ' km/h')

# Section 4.5
SELECT Efficiency, FastCharge
FROM evCars

# Section 4.6
UPDATE evCars
SET FastCharge = ROUND(FastCharge / 0.621371, 1)

# Section 4.7
ALTER TABLE evCars
RENAME FastCharge to OneHourFastChargeMiles;

ALTER TABLE
RENAME efficiency to efficiencyWHperKM

# Section 4.8
SELECT *
FROM evCars

# Section 5.1
SELECT
	RapidCharge,
	COUNT(RapidCharge)
FROM evCars
GROUP BY RapidCharge

# Section 5.3
# For the purpose of this exercise, if the car's RapidCharge value equals "rapid charging possible" then I want you to change the value to 'Yes'
# If the RapidCharge value equals "rapid charging not possible"" then I want you to change the value to 'No'.

# Section 5.2
UPDATE evCars
SET RapidCharge = 'Yes'
Where RapidCharge IS 'Rapid charging possible'

UPDATE evCars
SET RapidCharge = 'No'
Where RapidCharge IS 'Rapid charging not possible'

# Section 6.1
SELECT PowerTrain, COUNT(PowerTrain)
FROM evCars
GROUP BY PowerTrain

# Section 6.2
# look at the three DISTINCT values from the query you wrote in 6.1 and fill in the blanks.
# If the PowerTrain equals "All Wheel Drive" then I want you to change the value to 'AWD'
# If the PowerTrain equals "Rear Wheel Drive" then I want you to change the value to 'RWD'
# If the PowerTrain equals "Front Wheel Drive" then I want you to change the value to 'FWD'

# Section 6.3
UPDATE evCars
SET PowerTrain = 'AWD'
Where PowerTrain is 'All Wheel Drive'

UPDATE evCars
SET PowerTrain = 'RWD'
Where PowerTrain is 'Rear Wheel Drive'

UPDATE evCars
SET PowerTrain = 'FWD'
Where PowerTrain is 'Front Wheel Drive'

# Section 6.4
SELECT *
FROM evCars

# Section 7.1
SELECT PriceEuro, ROUND(PriceEuro * 1.09,2) AS PriceUSD
FROM evCars

# Section 7.2 
UPDATE evCars
SET PriceEuro = ROUND(PriceEuro * 1.09,2)

# Section 7.3
ALTER TABLE evCars
RENAME PriceEuro to PriceUSD;